* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: GillSansReg;
  src: url(fonts/GillSans.ttc);
}
.nav-wrapper {
  height: 90px;
  width: 100%;
  margin-bottom: 90px;
}
.nav-wrapper nav {
  max-width: 980px;
  height: 90px;
  margin: 0 auto;
  border-bottom: solid 2px #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-wrapper nav .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px #000000;
}
.nav-wrapper nav .logo span {
  position: absolute;
  bottom: -5px;
  color: #000000;
}
.nav-wrapper nav .links {
  width: 319px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.nav-wrapper nav .links a {
  text-decoration: none;
  color: #000000;
}
.nav-wrapper nav .links span {
  color: #EE4367;
}

@media only all and (max-width: 980px) {
  .nav-wrapper nav {
    padding: 0 30px;
  }
}
@media (max-width: 700px) {
  .nav-wrapper nav {
    padding: 10px;
  }
}
.hero {
  width: 979.5px;
  height: 378.75px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.6))), url("../images/about.jpg");
  background-image: linear-gradient(to bottom, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.6)), url("../images/about.jpg");
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@media (max-width: 944px) {
  .hero {
    width: 100%;
    height: 300px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.6))), url("../images/about.jpg");
    background-image: linear-gradient(to bottom, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.6)), url("../images/about.jpg");
    background-size: cover;
    background-position: center;
  }
}
.history {
  max-width: 980px;
  min-height: 378px;
  margin: -24px auto 0 auto;
}
.history .history-title {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000;
  padding-right: 30px;
  padding-bottom: 15px;
}
.history p {
  margin-top: 50px;
}

@media (max-width: 985px) {
  .history {
    width: 100%;
  }
  .history .history-title {
    padding: 10px;
  }
  .history p {
    padding: 20px;
  }
}
footer {
  min-height: 455px;
  width: 100%;
  background-color: #EE4367;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .logo {
  position: relative;
  width: 92px;
  height: 42px;
  border: solid 2px white;
  top: 30px;
}
footer .logo span {
  position: absolute;
  bottom: -5px;
  color: white;
  font-family: "Gill Sans";
}
footer .contact {
  width: 244px;
  height: 200px;
  margin-top: 50px;
  text-align: center;
}
footer .signup {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 180px;
}
footer .signup input {
  height: 100%;
  width: 529px;
  background-color: #F56B88;
  border: none;
}
footer .signup .button {
  height: 100%;
  width: 167px;
  background-color: #fff;
  color: #EE4367;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 900px) {
  footer .logo {
    height: 84px;
    width: 184px;
    font-size: 30px;
  }
  footer .signup {
    height: 100px;
    width: 300px;
  }
}
.gallery {
  max-width: 980px;
  min-height: 378px;
  margin: 0 auto;
}
.gallery span {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: solid 2px #000;
  padding-right: 40px;
  padding-bottom: 15px;
}
.gallery .images {
  margin-top: 50px;
}
.gallery .images .rowOne {
  height: 187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}
.gallery .images .rowOne .imageOne {
  height: inherit;
  width: 489px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.6))), url("../images/1.png");
  background-image: linear-gradient(to bottom, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.6)), url("../images/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery .images .rowOne .imageTwo {
  margin-left: 20px;
  height: inherit;
  width: 187px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.8)), to(rgba(238, 67, 103, 0.6))), url("../images/2.jpeg");
  background-image: linear-gradient(to bottom, rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.6)), url("../images/2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery .images .rowOne .imageThree {
  margin-left: 20px;
  height: inherit;
  width: 265px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.8)), to(rgba(8, 173, 105, 0.6))), url("../images/3.jpg");
  background-image: linear-gradient(to bottom, rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.6)), url("../images/3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery .images .rowTwo {
  height: 306px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}
.gallery .images .rowTwo .imageFour {
  height: inherit;
  width: 603px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.8)), to(rgba(84, 13, 110, 0.8))), url("../images/4.jpg");
  background-image: linear-gradient(to bottom, rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url("../images/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.gallery .images .rowTwo .imageFive {
  margin-left: 20px;
  height: inherit;
  width: 355px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.8)), to(rgba(59, 206, 171, 0.6))), url("../images/5.png");
  background-image: linear-gradient(to bottom, rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.6)), url("../images/5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 944px) {
  .gallery {
    height: 1500px;
  }
  .gallery .images {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .images .rowOne {
    display: block;
    margin: 0 auto;
  }
  .gallery .images .rowOne .imageOne {
    width: 600px;
    margin-bottom: 10px;
  }
  .gallery .images .rowOne .imageTwo {
    width: 600px;
    margin-left: -0.5px;
    margin-bottom: 10px;
  }
  .gallery .images .rowOne .imageThree {
    width: 600px;
    margin-left: -0.5px;
    margin-bottom: 10px;
  }
  .gallery .images .rowTwo {
    margin-top: 400px;
    display: block;
  }
  .gallery .images .rowTwo .imageFour {
    width: 600px;
    margin-bottom: 10px;
  }
  .gallery .images .rowTwo .imageFive {
    width: 600px;
    margin-left: -0.5px;
    margin-bottom: 10px;
  }
}
@media (max-width: 700px) {
  .gallery {
    height: 1500px;
  }
  .gallery .images {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery .images .rowOne {
    display: block;
    margin: 0 auto;
  }
  .gallery .images .rowOne .imageOne {
    width: 400px;
    margin-bottom: 10px;
  }
  .gallery .images .rowOne .imageTwo {
    width: 400px;
    margin-left: -0.5px;
    margin-bottom: 10px;
  }
  .gallery .images .rowOne .imageThree {
    width: 400px;
    margin-left: -0.5px;
    margin-bottom: 10px;
  }
  .gallery .images .rowTwo {
    margin-top: 400px;
    display: block;
  }
  .gallery .images .rowTwo .imageFour {
    width: 400px;
    margin-bottom: 10px;
  }
  .gallery .images .rowTwo .imageFive {
    width: 400px;
    margin-left: -0.5px;
    margin-bottom: 10px;
  }
}
.gallery-pages .gallery-heroOne {
  height: 400px;
  width: 980px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 209, 64, 0.8)), to(rgba(255, 209, 64, 0.6))), url("../images/1.png");
  background-image: linear-gradient(to bottom, rgba(255, 209, 64, 0.8), rgba(255, 209, 64, 0.6)), url("../images/1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
.gallery-pages .gallery-heroOne .hero-title {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: #FFD140;
  font-family: "Gill Sans";
}
.gallery-pages .gallery-heroOne .hero-title .title-i {
  font-size: 300px;
  line-height: 0;
  margin-right: 50px;
}
.gallery-pages .gallery-heroOne .hero-title .title-food {
  font-size: 140px;
  line-height: 0;
}
.gallery-pages .gallery-heroTwo {
  height: 400px;
  width: 980px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(238, 67, 103, 0.8)), to(rgba(238, 67, 103, 0.6))), url("../images/2.jpeg");
  background-image: linear-gradient(to bottom, rgba(238, 67, 103, 0.8), rgba(238, 67, 103, 0.6)), url("../images/2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
.gallery-pages .gallery-heroTwo .hero-title {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: #EE4367;
  font-family: "Gill Sans";
}
.gallery-pages .gallery-heroTwo .hero-title .title-i {
  font-size: 300px;
  line-height: 0;
  margin-right: 50px;
}
.gallery-pages .gallery-heroTwo .hero-title .title-food {
  font-size: 140px;
  line-height: 0;
}
.gallery-pages .gallery-heroThree {
  height: 400px;
  width: 980px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 173, 105, 0.8)), to(rgba(8, 173, 105, 0.6))), url("../images/3.jpg");
  background-image: linear-gradient(to bottom, rgba(8, 173, 105, 0.8), rgba(8, 173, 105, 0.6)), url("../images/3.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
.gallery-pages .gallery-heroThree .hero-title {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: #08AD69;
  font-family: "Gill Sans";
}
.gallery-pages .gallery-heroThree .hero-title .title-i {
  font-size: 300px;
  line-height: 0;
  margin-right: 50px;
}
.gallery-pages .gallery-heroThree .hero-title .title-food {
  font-size: 140px;
  line-height: 0;
}
.gallery-pages .gallery-heroFour {
  height: 400px;
  width: 980px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 13, 110, 0.8)), to(rgba(84, 13, 110, 0.8))), url("../images/4.jpg");
  background-image: linear-gradient(to bottom, rgba(84, 13, 110, 0.8), rgba(84, 13, 110, 0.8)), url("../images/4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
.gallery-pages .gallery-heroFour .hero-title {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: #540D6E;
  font-family: "Gill Sans";
}
.gallery-pages .gallery-heroFour .hero-title .title-i {
  font-size: 300px;
  line-height: 0;
  margin-right: 50px;
}
.gallery-pages .gallery-heroFour .hero-title .title-food {
  font-size: 115px;
  line-height: 0;
}
.gallery-pages .gallery-heroFive {
  height: 400px;
  width: 980px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(59, 206, 171, 0.8)), to(rgba(59, 206, 171, 0.6))), url("../images/5.png");
  background-image: linear-gradient(to bottom, rgba(59, 206, 171, 0.8), rgba(59, 206, 171, 0.6)), url("../images/5.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  position: relative;
}
.gallery-pages .gallery-heroFive .hero-title {
  position: absolute;
  bottom: 0;
  left: 50px;
  color: #3BCEAB;
  font-family: "Gill Sans";
}
.gallery-pages .gallery-heroFive .hero-title .title-i {
  font-size: 300px;
  line-height: 0;
  margin-right: 50px;
}
.gallery-pages .gallery-heroFive .hero-title .title-food {
  font-size: 115px;
  line-height: 0;
}
.gallery-pages .gallery-info {
  height: 133px;
  width: 980px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Gill Sans light Italic";
}
.gallery-pages .gallery-info .paraOne {
  font-size: 16px;
  color: #020202;
  margin-left: 25px;
}

@media (max-width: 1024px) {
  .gallery-heroOne {
    padding: 30px;
  }
  .gallery-info {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gallery-info .paraOne {
    margin-left: 0;
    text-align: center;
  }
}