.nav-wrapper {
    height: 90px;
    width: 100%;
    margin-bottom: 90px;
    

    nav {
        max-width: 980px;
        height: 90px;
        margin: 0 auto;
        
        border-bottom: solid 2px #000000;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            position: relative;
            width: 92px;
            height: 42px;
            border: solid 2px #000000;

            span{
                position: absolute;
                bottom: -5px;
                color: #000000;

            }

        }

        .links {
            width: 319px;
            display: flex;
            justify-content: space-around;
            a {
                text-decoration: none;
                color: #000000;

            }

            span{
                color: #EE4367;
            }

        }

    }

}

@media only all and (max-width: 980px) {

    .nav-wrapper {
        nav {
            padding: 0 30px;
        }


    }

}

@media (max-width:700px) {

    .nav-wrapper {

        nav {
            padding: 10px;
        }
    }
}